*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* menu start */

header {
    background-color: #000000; 
    color: #ffffff; 
    position: sticky;
    top: 0;
    z-index: 1000;
    transition: background-color 0.3s ease;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.logo {
    margin-left: 80px; 
    font-size: 32px;
    text-transform: uppercase;
}

.span-one{
    color: red;
}

/* Menu Styles */
.menu {
    list-style: none;
    display: flex;
    gap: 20px;
    flex-grow: 1; 
    text-align: center;
    font-size: 22px;
    /* margin-right: px; */
    
}

.menu-next{
    margin-right: 30px;
}

.menu li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    transition: color 0.3s ease;
}

.menu li a:hover {
    color: #f39c12; 
}

/* Auth Buttons */
.auth-buttons {
    display: flex;
    gap: 10px;
}

.auth-buttons a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    border: 1px solid #ffffff;
    padding: 10px 18px;
    border-radius: 4px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.auth-buttons a:hover {
    background-color: #ffffff;
    color: #000000;
}

/* Styles for Sticky Header */
.sticky {
    background-color: #222222; 
}

.sticky {
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
}

header {
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}




/* menu end */

/* start body */

.another {
    background-color: #F4F5F8;
    /* color: #fff; */
    text-align: center;
    padding: 90px 0px;
}

/* Styling for the main content section */
.another-one {
    max-width: 800px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.another-two h4{
    font-weight: 400;
    color: #535967;
    text-decoration: none;
    transition: all 0.3 ease-in-out;
    margin-left: 10px;
    font-size: 16px;
    
}

.another-two{
    display: flex;
    text-align: center;
    margin-left: 680px;
}

.home-link{
    color: #20ad96;
    font-size: 16px;
    font-weight: 600;
}

.section-heading {
    color: #000;
    line-height: 50px;
    margin-bottom: 20px;
    text-transform: capitalize;
    font-size: 43px;
    font-weight: 700;
    letter-spacing: 8px;
    font-family: 'Times New Roman', Times, serif;
}


/* end body */
.privacy {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/*  */

.contact-us{
    width: 100%;
    height: 100vh;
    display: grid;
    align-items: center;
    /* background-color: #8e2de2; */
}

.contact-in{
    width: 80%;
    height: auto;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border-radius: 10px;
    background: #fff;
    box-shadow: 0px 0px 10px #666;
}

.contact-map{
    width: 100%;
    height: auto;
    flex: 50%;
}

.contact-map iframe{
    width: 100%;
    height: 100%;
}

.contact-form{
    width: 100%;
    height: auto;
    padding: 30px;
    flex: 50%;
}

.contact-form h1{
    margin-bottom: 10px;
} 

.contact-form-txt{
    width: 100%;
    height: 40px;
    color: #000;
    border: 1px solid #bcbcbc;
    border-radius: 50px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
}

.contact-form-txt::placeholder{
    color: #aaa;
}

.contact-form-txtarea{
    width: 100%;
    height: 130px;
    color: #000;
    border: 1px solid #bcbcbc;
    border-radius: 10px;
    outline: none;
    margin-bottom: 20px;
    padding: 15px;
    font-family: sans-serif;
}

.contact-form-textextarea::placeholder{
    color: #aaa;
}

.contact-form-btn{
    width: 100%;
    border: none;
    outline: none;
    border-radius: 50px;
    background: #20ad96;
    color: #fff;
    text-transform: uppercase;
    padding: 10px 0;
    cursor: pointer;
    font-size: 18px;
}

/* footer */

.footer-menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    /* min-height: 100vh; */
}

footer{
    background-color: #000000ff;
    position: relative;
    width: 100%;
    min-height: 350px;
    padding: 4rem 1rem;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col{
    min-width: 250px;
    color: #f2f2f2f2;
    /* font-family: Georgia, 'Times New Roman', Times, serif; */
    padding: 0 2rem;
}

.col .logo{
    width: 100px;
    margin-bottom: 25px;
}

.col h3{
    color: #ff014fff;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
}

.col p{
    line-height: 22px;
    text-align: justify;
}

.col h3::after{
    content: '';
    height: 3px;
    width: 0px;
    background-color: #ff014fff;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}

.col h3:hover::after{
    width: 30px;
}

.col .social a i{
    color: #ff014fff;
    margin-top: 2rem;
    margin-right: 5px;
    transition: 0.3s ease;
}

.col .social a i:hover{
    transform: scale(1.5);
    filter: grayscale(25);
}

.col .links a{
    display: block;
    text-decoration: none;
    color: #f2f2f2;
    margin-bottom: 5px;
    position: relative;
    transition: 0.3s ease;
}

.col .links a::before{
    content: '';
    height: 16px;
    width: 3px;
    position: absolute;
    top: 5px;
    left: -10px;
    background-color: #ff014fff;
    transition: 0.5s ease;
    opacity: 0;
}

.col .links a:hover::before{
    opacity: 1;
}

.col .address-details{
    display: inline-flex;
    justify-content: space-between;
}

.col .address-details i{
    margin-right: 15px;
}

.row .form{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

.row .form input{
    background-color: #1a1c20ff;
    border: 0;
    outline: none;
    padding: 14px 20px;
    border-radius: 6px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.form button{
    padding: 14px 20px;
    border: 0;
    border-radius: 6px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #ff014fff;
}


.bottom-details{
    text-align: center;
    color: #999;
    padding-top: 50px;
}

.logo-new{
        font-size: 32px;
        text-transform: uppercase;
        margin-top: 35px;
        padding-bottom: 10px;
       
}
    
.span-one{
        color: red;
        padding-top: 20px;
    }

.col .p{
    padding-top: 100px;
}

/* responsive footer */

@media(max-width:900px)
{
    .row{
        flex-direction: column;
    }

    .col{
        width: 100%;
        text-align: left;
        margin-bottom: 25px;
    }
}

@media(max-width:768px)
{
    .row{
        flex-direction: column;
    }

    .col{
        width: 100%;
        text-align: left;
        margin-bottom: 20px;
    }
}
