*{
    margin: 0;
    padding: 0;
    font-family: "poppins", sans-serif;
    box-sizing: border-box;
}

.container-text{
    display: inline-block;
}

.text-new{
    
    width: 100%;
    font-weight: bold;
    text-align: center;
    color: aliceblue;
    padding-top: 75px;
    /* border-right: 5px solid; */
    letter-spacing: 10px;
    white-space: nowrap;
    overflow: hidden;
    margin-left: 110px;
    animation: typing 4s steps(18), cursor .4s step-end infinite alternate;
    font-size: 65px;
    font-weight: 600;
    margin-bottom: 40px;
}

/*  */

@keyframes cursor{
    10%{
        border-color: transparent;
    }
}

@keyframes typing{
    from{
        width: 0;
    }
}

.sticky-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #080008; 
    position: sticky;
    top: 0; 
    z-index: 2; 
}

.logo{
    width: 140px;
}

.nav-links{
    padding: 28px 0;
}

.nav-links li{
    display: inline-block;
    margin: 0 15px;
}

.nav-links li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 0;
    position: relative;
}

.nav-links li a::after{
    content: '';
    background: #ff3d00;
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s;
}

.nav-links li a:hover::after{
    width: 100%;
}

.header{
    height: 100vh;
    width: 100%;
    padding: 0 8%;
    position: relative;
    z-index: 1;
}

.btn{
    background: #ff3d00;
    color: #fff;
    padding: 10px 30px;
    border-radius: 3px;
    cursor: pointer;
}

.content{
    position: absolute;
    left: 50%;
    top: 50%;
    width: 90%;
    max-width: 900px;
    transform: translate(-50%, -50%);
    text-align: center;
    color: #fff;
    padding-top: 50px;
}

.content form{
    background: #fff;
    padding: 10px;
    border-radius: 8px;
    display: flex;
}

.content form input{
    flex: 1;
    border: none;
    outline: none;
    padding: 0 20px;
    font-size: 18px;
}

.content form button{
    background: #ff3d00;
    color: #fff;
    padding: 15px 40px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.category-list{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 40px;
}

.category{
    width: 80px;
    height: 80px;
    background: rgba(255,61,0,0.15);
    margin: 0 10px;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.category img{
    width: 65px;
    margin-bottom: 5px;
}

.back-video{
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
} 

@media(min-aspect-ratio: 16/9){
    .back-video{
        width: 100%;
        height: auto;
    }
}

@media(max-aspect-ratio: 16/9){
    .back-video{
        width: auto;
        height: 100%;
    }
}

/* Hero Section End */

.secOne{
    text-align: center;
    padding: 100px 0px;
}

.secOne h3{
    text-transform: uppercase;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 600;
    font-size: 13px;
    color: #20ad96;
    letter-spacing: 2px;
}

.secOne h1{
    font-size: 38px;
    margin: 10px 0px 10px;
    line-height: 44px;
}


.secTwo{
    margin-bottom: 82px;
}

.secTwo-content{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top:90px;

}
.secTwo
.secTwo-content
.colOne
h2
a{text-decoration: none;}
.colOne{
    flex-basis: 22%;
    padding: 30px;
    box-sizing: border-box;
    text-align: center;
    margin-left: 30px;
    
}

.colTwo{
    flex-basis: 22%;
    padding: 30px;
    box-sizing: border-box;
    text-align: center;
    
}

.colThree{
    flex-basis: 22%;
    padding: 30px;
    box-sizing: border-box;
    text-align: center;
}

.colFour{
    flex-basis: 22%;
    padding: 30px;
    box-sizing: border-box;
    text-align: center;
    margin-right: 30px;
}


.colOne i{
    font-size: 50px;
    line-height: 70px;
    color: #20ad96;
}
.colTwo i{
    font-size: 50px;
    line-height: 70px;
    color: #20ad96;
}
.colThree i{
    font-size: 50px;
    line-height: 70px;
    color: #20ad96;
}

.colFour i{
    font-size: 50px;
    line-height: 70px;
    color: #20ad96;
}

.colOne h2{
    margin-bottom: 10px;
    transition: .4s;
    font-size: 24px;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 700;
    line-height: 1.4;
    color: #3f3a64;

}

.colTwo h2{
    margin-bottom: 10px;
    transition: .4s;
    font-size: 24px;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 700;
    line-height: 1.4;
    color: #3f3a64;

}

.colThree h2{
    margin-bottom: 10px;
    transition: .4s;
    font-size: 24px;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 700;
    line-height: 1.4;
    color: #3f3a64;

}

.colFour h2{
    margin-bottom: 10px;
    transition: .4s;
    font-size: 24px;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 700;
    line-height: 1.4;
    color: #3f3a64;

}

.main-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 10%;
}

.video-div {
    flex: 1;
    padding-right: 20px;
    margin-right: 20px; 
    border-right: 1px solid #ddd; 
}

.video-div video {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content-div {
    flex: 1;
    padding: 30px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.content-div h2 {
    margin-bottom: 10px;
    text-transform: uppercase;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 600;
    font-size: 13px;
    color: #20ad96;
    letter-spacing: 2px;
    
}

.content-div h3 {
    font-size: 38px;
    margin: 10px 0px 10px;
    line-height: 44px;
    color: #3f3a64;
}

.content-div p {
    font-family: "Questrial", sans-serif;
    line-height: 30px;
    font-size: 18px;
    margin-bottom: 15px;
    color: #222222;
    margin-top: 0;
    
}

.content-div p i{
    font-size: 18px;
    margin-right: 10px;
    color: #007BFF;
}

.feature-list {
    margin-bottom: 20px;
}

.feature-list p {
    display: inline-block;
    margin-right: 20px;
    color: #555;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 0.5rem;
    color: #3f3a64;
    font-size: 18px;
}

.courses-button {
    
    background: #20ad96;
    color: #fff;
    border-color: #20ad96;
    font-weight: 700;
    position: relative;
    text-transform: uppercase;
    padding: 13px 30px;
    border-radius: 5px;
    font-size: 14px;
    font-family: "Kumbh Sans", sans-serif;
    border: 2px solid transparent;
    transform: translateY(0px);
    transition: all 0.3s ease-in-out;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    line-height: 1.5;
}

.courses-button:hover {
    background-color: #0056b3;
}

.secThree{
    padding-top: 70px;
    padding-bottom: 50px;
    background-color: #f9f9f9;
}

.secThree-content-head{
    text-transform: uppercase;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 600;
    font-size: 13px;
    color: #20ad96;
    letter-spacing: 2px;
    text-align: center;
}

.secThree-content-middle{
    font-size: 38px;
    margin: 10px 0px 10px;
    line-height: 44px;
    text-align: center;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 700;
    color: #3f3a64;

}

.secThree-content-paragraph{
    padding: 0px 70px;
    color: #222222;
    font-family: "Questrial", sans-serif;
    line-height: 30px;
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 1rem;
    text-align: center;
}

.secFour{
    padding: 100px 0;
    margin-left: 200px;
}

.secFour h3{
   
    text-transform: uppercase;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 600;
    font-size: 13px;
    color: #20ad96;
    letter-spacing: 2px;
}

.secFour h1{
   
    font-size: 38px;
    margin: 20px 0px 10px;
    line-height: 44px;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 700;
    color: #3f3a64;
}

.sections-container {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap;
    padding-bottom: 80px;
}

.instructors-section {
    flex: 1;
    max-width: calc(25% - 20px);
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.instructors-section h4 {
    text-transform: uppercase;
    font-size: 16px;
    color: #3f3a64;
  
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 0.5rem;
    color: #3f3a64;
    text-transform: capitalize;
}

.instructor-count {
    
    font-size: 60px;
    margin-top: 30px;
    line-height: 50px;
    color: #20ad96;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 600;
    padding-bottom: 18px;
}

.count-number {
    font-size: 60px;
    font-weight: 700;
    margin-right: 10px;
}

.instructors-section p {
   
    color: #535967;
    font-family: "Questrial", sans-serif;
    line-height: 30px;
    font-size: 16px;
}



@keyframes countAnimation {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.instructors-section .count-number {
    animation: countAnimation 1s ease-in-out;
}


.cta-section {
    display: flex;
    justify-content: center;
    padding: 50px 10%;
    background-color: #f9f9f9;
}

.cta-content {
    display: flex;
    max-width: 1200px;
    padding: 100px;
}

.cta-text {
    flex: 1;
    padding-right: 20px;
    box-sizing: border-box;
}

.cta-text h2 {
    text-transform: uppercase;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 600;
    font-size: 13px;
    color: #20ad96;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.cta-text h3 {
 
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 0.5rem;
    color: #3f3a64;
    font-size: 20px;
    
}

.cta-text h3 i{
    color: #20ad96;
    font-size: 40px;
    text-align: center;
}

.cta-text h4{
    font-size: 38px;
    margin: 10px 0px 10px;
    line-height: 44px;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 700;
}

.cta-text h3 i {
    margin-right: 10px; 
}

.cta-text p {
    font-family: "Questrial", sans-serif;
    line-height: 30px;
    font-size: 16px;
    color: #222222;
    margin-top: 15;
    margin-bottom: 1rem;
    margin-bottom: 15px;
    color: #535967;
    font-family: "Questrial", sans-serif;
    line-height: 30px;
    font-size: 16px;
    
}

.cta-image {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
}

.testimonial-section {
    background: #EBF4F8;
    padding: 50px 0;
    text-align: center;
}

.testimonial {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.testimonial-content {
    padding: 20px;
}

.testimonial-text {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
}

.testimonial-author {
    font-size: 16px;
    color: #666;
}

.testimonial-carousel {
    display: flex;
    overflow: hidden;
    max-width: 800px;
    margin: 0 auto;
}

.testimonial {
    flex: 0 0 100%;
    transition: transform 0.5s ease-in-out;
}


.carousel-buttons {
    text-align: center;
    margin-top: 20px;
}

.prev-btn,
.next-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}

.next-btn {
    margin-left: 10px;
    background-color: #0056b3;
}

.prev-btn:hover,
.next-btn:hover {
    background-color: #0056b3;
}

.testimonial-section{
    padding-bottom: 90px;
}
.testimonial-section-one{
    padding-top: 91px;
    padding-bottom: 1px;
    text-align: center;
    background: #EBF4F8;

}

.testimonial-content-one{
    max-width: 800px;
    margin: 0 auto;
}

.testimonial-content-one h2{
    text-transform: uppercase;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 600;
    font-size: 15px;
    color: #20ad96;
    letter-spacing: 2px;
}

.testimonial-content-one h3{
    font-size: 38px;
    margin: 10px 0px 10px;
    line-height: 44px;
    font-family: "Kumbh Sans", sans-serif;
    font-weight: 700;
    color: #3f3a64;

}


.testimonial-content-one p{
    font-family: "Questrial", sans-serif;
    line-height: 30px;
    font-size: 16px;
    color: #222222;
    padding: 0px 0px;
    margin-top: 0;
    margin-bottom: 1rem;
}

.newsletter-section {
    background-color: #f9f9f9;
    padding: 125px 0;
    text-align: center;
}

.newsletter-content {
    max-width: 800px;
    margin: 0 auto;
}

.newsletter-content h2 {
    font-size: 28px;
    color: #3f3a64;
    margin-bottom: 10px;
}

.newsletter-content p {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.newsletter-form {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
}

input[type="email"] {
    padding: 10px;
    width: 100%;
    max-width: 400px;
    border-radius: 5px 0 0 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px 20px;
    background-color: #20ad96;
    color: white;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

/*  */

.course-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    background-color: #f9f9f9;
} 


.course {
    background-color: #fff;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin: 0 20px;
    width: 360px;
    height: 420px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.course:hover {
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    transition: all 0.3s ease-in-out;
}

.course-image {
    position: relative;
    max-width: 100%;
    text-align: center;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
}

.course-image img {
    max-width: 100%;
    height: auto;
}

.price {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #20ad96;
    color: white;
    padding: 10px 15px;
    font-size: 17px;
    font-weight: bold;
    border-radius: 5px;
}

.course-details {
    padding: 20px;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.course-details h2 {
    font-size: 20px;
    margin: 0;
    margin-bottom: 10px;
    color: #333;
}

.course-details p {
    font-size: 14px;
    color: #666;
    margin: 0;
    flex: 1;
}

.stats {
    display: flex;
    align-items: center;
    margin-top: 5px; 
}

.stats p {
    margin: 0;
    margin-left: 5px; 
}

.count {
    font-size: 14px;
    color: #888;
} 

.course-description{
    padding: 70px;
    background-color: #f9f9f9;
}

.course-description h3{
    text-align: center;
    color: #222222;
    font-size: 16px;
    font-family: "Questrial", sans-serif;
    line-height: 30px;
}

.course-description a{
    text-align: center;
    display: block;
    color: #20ad96;
    transition: all 0.3s ease-in-out;
    font-weight: 700 !important;
    
}

.footer-menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column;
    /* min-height: 100vh; */
}

footer{
    background-color: #000000ff;
    position: relative;
    width: 100%;
    min-height: 350px;
    padding: 4rem 1rem;
}

.container{
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.col{
    min-width: 250px;
    color: #f2f2f2f2;
    padding: 0 2rem;
}

.col .logo{
    width: 100px;
    margin-bottom: 25px;
}

.col h3{
    color: #ff014fff;
    margin-bottom: 20px;
    position: relative;
    cursor: pointer;
}

.col h3::after{
    content: '';
    height: 3px;
    width: 0px;
    background-color: #ff014fff;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}

.col h3:hover::after{
    width: 30px;
}

.col .social a i{
    color: #ff014fff;
    margin-top: 2rem;
    margin-right: 5px;
    transition: 0.3s ease;
}

.col .social a i:hover{
    transform: scale(1.5);
    filter: grayscale(25);
}

.col .links a{
    display: block;
    text-decoration: none;
    color: #f2f2f2;
    margin-bottom: 5px;
    position: relative;
    transition: 0.3s ease;
}

.col .links a::before{
    content: '';
    height: 16px;
    width: 3px;
    position: absolute;
    top: 5px;
    left: -10px;
    background-color: #ff014fff;
    transition: 0.5s ease;
    opacity: 0;
}

.col .links a:hover::before{
    opacity: 1;
}

.col .address-details{
    display: inline-flex;
    justify-content: space-between;
}

.col .address-details i{
    margin-right: 15px;
}

.row .form{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
}

.row .form input{
    background-color: #1a1c20ff;
    border: 0;
    outline: none;
    padding: 14px 20px;
    border-radius: 6px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.form button{
    padding: 14px 20px;
    border: 0;
    border-radius: 6px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #ff014fff;
}


.bottom-details{
    text-align: center;
    color: #999;
    padding-top: 50px;
}

.logo-new{
        font-size: 32px;
        text-transform: uppercase;
        margin-top: 35px;
       
}
    
.span-one{
        color: red;
        padding-top: 20px;
    }

.col .p{
    padding-top: 100px;
}

/* responsive footer */

@media(max-width:900px)
{
    .row{
        flex-direction: column;
    }

    .col{
        width: 100%;
        text-align: left;
        margin-bottom: 25px;
    }
}

@media(max-width:768px)
{
    .row{
        flex-direction: column;
    }

    .col{
        width: 100%;
        text-align: left;
        margin-bottom: 20px;
    }
}

